.container {
  font-size: 20px;
  margin-top: 20px;
}

.message-container {
  background-color: lightblue;
}

.counter-container {
  background-color: lightcyan;
}

.ping-container {
  background-color: lightseagreen;
}
